/* Write some CSS below */

/* ---------General CSS--------- */
body{ 
   background: linear-gradient(to right, #416879, #0d1b1f, #416879); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    color: white;
    Font-size: 25px;
    font-style: normal;
    text-align: left;
    Font-family: "roboto";
    line-break: auto;
    line-height: 1.5;
}
.text-center{
  text-align: center;
}
/*Font Style*/
h1{
    font-family: "Rakkas", sans-serif;
    margin-top: -20px;
    font-weight: 400;
    background-image: linear-gradient(103.3deg, rgb(255, 242, 223) 30%, rgb(86, 4, 30) 60%, rgb(0, 24, 85) 81.8%);
    color:transparent;
    text-shadow: 5px 5px 10px rgba(205, 167, 231, 0.608);
    font-size:50px;
    -webkit-background-clip: TEXT;
    background-clip: TEXT;
    text-align: center;
}
h2,.year {
    color: rgb(0, 24, 85);
    Font-size: 50px;
    font-family: "Rubik Doodle Shadow", serif;
    margin-top: -10px;
    text-align: center;
}
h3{
  font-family: "Rakkas", sans-serif;
  font-size: 40px;
  color:#3a6186;
  display: center;
}

a{
  text-align: center;
}
.cards {
  background-color: rgba(247, 249, 252,0.5);
  padding: 40px;
  margin: 40px auto;
  border-radius: 20px;
  width: 1000px;
  box-shadow: 10px 10px 10px rgb(252,225,208);
  overflow-x: hidden;
}

/* ---------PERSONAL DESIGN--------- */
  /*INTRO DESIGN*/ 
.animated-text{
  animation:roll 6s linear infinite
}
@keyframes roll{
  0%{
    transform:translateX(-25%);
  }
  50%{
    transform: translateX(25%);
  }
  100%{
    transform:translateX(-25%);
  }
}
.portrait{
  border-radius:50%;
  height: 300px;
}
.socialmedia li{
  display: inline;
}
.socialmedia i{
  font-size:40px;
  margin:20px
}
.socialmedia .btn-social{
  background-color: transparent;
  color:white
}
.socialmedia .btn-social:hover{
  background-color: transparent;
  color:black
}

/*TIMELINE*/
.year {
  font-family: "Rubik Doodle Shadow", serif;
  font-size: 30px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:20px;
  text-align:center;
}
.grid-vertical{
  background-color: rgba(255,255,255,0.3);
  text-align: center;
  padding:10px;
  transition:0.7s
}
.grid-vertical:hover{
  opacity:80%;
  transform:scale(1.1)
}
.grid-vertical img{
  width: 100%;
  object-fit: cover;
} 
 .div-experience{
  margin-top:60px
}
/*Reverse the gif*/ 
#reverse {
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, 1);
}

  /* EXPERIENCE DISIGN */
  .period-experience{
    color: #3a6186;
    margin-top:-40px
  }
  .title{
    font-family: "Rakkas", serif;
    font-weight: 200;
    font-size: 30px;
    display: flex;
    justify-content: space-between
  }
  .logos{
    width: 60px;
    height: 60px;
  }
  .div-experience{
    margin-top: 60px
  }

 /*Hobbies*/
 .hobbies-list img{
  height:50px;
 }

 .game-image{
    border-radius:50%;
    width: 100px;
    height: 100px;
    margin: 20px;
    align-items: center;
    transition:0.5s
  }
  .game-image:hover{
    transform: scale(1.2,1.2);
  }
